@tailwind base;
@tailwind components;
@tailwind utilities;

/* IRANYEKN FONTS */

@font-face {
  font-family: Iranyekan-light;
  src: url("../font/Qs_Iranyekan\ light.ttf");
}
@font-face {
  font-family: Iranyekan-black;
  src: url("../font/Qs_Iranyekan\ black.ttf");
}
@font-face {
  font-family: Iranyekan-bold;
  src: url("../font/Qs_Iranyekan\ bold.ttf");
}
@font-face {
  font-family: Iranyekan-extrablack;
  src: url("../font/Qs_Iranyekan\ extrablack.ttf");
}
@font-face {
  font-family: Iranyekan-extrabold;
  src: url("../font/Qs_Iranyekan\ extrabold.ttf");
}
@font-face {
  font-family: Iranyekan-medium;
  src: url("../font/Qs_Iranyekan\ medium.ttf");
}
@font-face {
  font-family: Iranyekan-thin;
  src: url("../font/Qs_Iranyekan\ thin.ttf");
}
@font-face {
  font-family: Iranyekan;
  src: url("../font/Qs_Iranyekan.ttf");
}
* {
  font-family: Iranyekan;
  box-sizing: border-box;
  background-color: #ffffff;
  font-size: 12px;
}

.big-text-description:before {
  background: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 50%, #fff);
}
.story {
  background: linear-gradient(
    315deg,
    rgba(224, 61, 150, 1) 0%,
    rgba(125, 76, 158, 1) 100%
  );
}
.swiper-button-next {
  background-color: #fff;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 2;
  border: 1px solid gray !important;
  height: 40px;

  width: 40px;
}
.swiper-button-prev {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
.swiper-button-next,
.swiper-button-prev {
  color: rgb(0, 0, 0);
  border: 1px solid rgb(121, 117, 117);
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 15px;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0;
}
.story-text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  line-height: 2.17;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
