<div class="flex grow ml-auto">
  <div class="relative">
    <div class="BaseLayoutSearch_BaseLayoutSearch__QHPTB">
      <div
        data-cro-id="searchbox-click"
        class="flex items-center SearchInput_SearchInput__HB9qi SearchInput_SearchInput__searchInput__CEpaj ellipsis bg-neutral-100 grow rounded px-0 lg:px-4 text-body-2"
      >
        <div class="w-full rounded-full">
          <div class="flex items-center justify-between grow min-w-0 h-9">
            <div class="flex cursor-pointer">
              <svg
                style="
                  width: 24px;
                  height: 24px;
                  fill: var(--color-icon-low-emphasis);
                "
              >
                <use xlink:href="#searchSearch" fill="#A1A3A8"></use>
              </svg>
            </div>
            <span
              data-cro-id="searchbox-type"
              class="grow px-2 lg:px-4 ellipsis"
              ><div
                class="lg:text-body-2 text-button-1 flex items-center h-full text-body-2 text-neutral-500"
              >
                جستجو
              </div></span
            >
          </div>
        </div>
      </div>
    </div>
    <div
      class="bg-neutral-000 overflow-y-auto rounded-medium styles_Popper__OOG0C shadow-modal border-complete-200 z-2 top-0 BaseLayoutSearch_BaseLayoutSearch__popper__SGa9Y styles_Popper--animated-active__36PO8"
      style="position: absolute; left: 0px; top: 0px"
    >
      <div class="grow">
        <div
          class="flex flex-col h-full overflow-y-hidden styles_ModalLayout__y3Bs1"
        >
          <div
            class="w-full z-1 bg-neutral-000 py-3 lg:py-0"
            width="597"
            height="43.984375"
          >
            <div class="flex items-center">
              <div class="grow text-h5">
                <div
                  data-cro-id="searchbox-click"
                  class="flex items-center SearchInput_SearchInput__HB9qi SearchInput_SearchInput__searchInput__CEpaj SearchInput_SearchInput--active__U9csa bg-neutral-000 mx-4"
                >
                  <div class="w-full rounded-full">
                    <div
                      class="flex items-center justify-between grow min-w-0 h-9"
                    >
                      <div class="flex cursor-pointer">
                        <svg
                          style="
                            width: 24px;
                            height: 24px;
                            fill: var(--color-icon-high-emphasis);
                          "
                        >
                          <use xlink:href="#searchSearch"></use>
                        </svg>
                      </div>
                      <span data-cro-id="searchbox-type" class="grow"
                        ><label
                          class="FormComponentFrame_FormComponentFrame__PIUpy w-full"
                          ><div
                            class="FormComponentFrame_FormComponentFrame__input-container__BHc4I px-2 flex items-center !px-0"
                          >
                            <div class="grow text-body-3">
                              <input
                                class="px-2 TextField_TextField__input__hFMFl text-subtitle w-full TextField_TextField__bwN9_ TextField_TextField--primary__IZ6Ku text-neutral-500 text-body-2 lg:text-body-2 text-button-1 h-full"
                                type="text"
                                name="search-input"
                                placeholder="جستجو"
                                autocomplete="off"
                                value=""
                              />
                            </div></div></label
                      ></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="grow flex flex-col overflow-y-auto">
            <div
              class="grow flex flex-col styles_children__hHq5Q hide-scrollbar"
            >
              <div class="pb-4 br-list-vertical-no-padding-200 top-0 right-0">
                <div class="gap-2">
                  <div
                    class="swiper-container swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events swiper-container-free-mode swiper-container-rtl"
                  >
                    <div class="swiper-wrapper">
                      <div
                        class="swiper-slide swiper-slide-active"
                        style="width: auto; height: auto; margin-left: 8px"
                      >
                        <div></div>
                      </div>
                    </div>
                    <div
                      class="styles_Slider__next-button-selector__R9M5X hidden lg:flex justify-center items-center bg-neutral-000 absolute cursor-pointer z-5 rounded-circle styles_ScrollHorizontalWrapper__button__uMRet styles_ScrollHorizontalWrapper__button--next__0VY_Y lg:hidden"
                    >
                      <div class="flex">
                        <svg
                          style="
                            width: 24px;
                            height: 24px;
                            fill: var(--color-icon-high-emphasis);
                          "
                        >
                          <use xlink:href="#chevronLeft"></use>
                        </svg>
                      </div>
                    </div>
                    <div
                      class="styles_Slider__prev-button-selector__fsha9 hidden lg:flex justify-center items-center bg-neutral-000 absolute cursor-pointer z-5 rounded-circle styles_ScrollHorizontalWrapper__button__uMRet styles_ScrollHorizontalWrapper__button--prev___Vx1r lg:hidden"
                    >
                      <div class="flex">
                        <svg
                          style="
                            width: 24px;
                            height: 24px;
                            fill: var(--color-icon-high-emphasis);
                          "
                        >
                          <use xlink:href="#chevronRight"></use>
                        </svg>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="px-5 lg:px-4">
                  <a
                    class="w-full block relative mt-4"
                    target="_blank"
                    bannerdescription=""
                    bannershowpages="homePage"
                    bannerproducts=""
                    bannersrc=""
                    href="/landing/galaxy-unpacked2024/?&amp;promo_name=%D9%BE%D8%A7%D8%B1%D8%AA%D9%86%D8%B1%D8%B4%DB%8C%D9%BE-%D8%B3%D8%A7%D9%85%D8%B3%D9%88%D9%86%DA%AF-%D8%B3%D8%B1%DA%86+%D8%A8%D8%A7%D8%B1&amp;promo_position=search_bar_search_bar&amp;promo_creative=184032&amp;bCode=184032"
                    ><div>
                      <div
                        class="h-full styles_Banner--b__dERtW"
                        style="border-radius: 8px; line-height: 0"
                      >
                        <picture
                          ><source
                            type="image/webp"
                            srcset="?x-oss-process=image/format,webp" />
                          <source type="image/jpeg" />
                          <img
                            class="w-full h-full styles_Banner__image__C8h94 inline-block"
                            alt="پارتنرشیپ-سامسونگ-سرچ بار"
                            title="پارتنرشیپ-سامسونگ-سرچ بار"
                            style="object-fit: cover; border-radius: 8px"
                        /></picture>
                      </div></div
                  ></a>
                  <div class="br-list-vertical-no-padding-200"></div>
                </div>
                <div
                  class="py-2 hide-scrollbar border-complete-b border-b-neutral-500 pb-4"
                >
                  <span
                    class="cursor-pointer py-3 break-words block px-5 lg:px-4 xs:py-2"
                    ><div class="flex justify-between items-start">
                      <div class="flex shrink-0 ml-4 mt-0.5">
                        <svg
                          style="
                            width: 24px;
                            height: 24px;
                            fill: var(--color-icon-low-emphasis);
                          "
                        >
                          <use xlink:href="#searchHistory"></use>
                        </svg>
                      </div>
                      <div class="grow text-right">
                        <span class="grow text-subtitle-strong text-neutral-700"
                          >آخرین جستجوهای شما</span
                        >
                        <div></div>
                      </div>
                      <div class="flex items-center shrink-0 mr-4">
                        <div class="flex cursor-pointer">
                          <svg
                            style="
                              width: 24px;
                              height: 24px;
                              fill: var(--color-icon-low-emphasis);
                            "
                          >
                            <use xlink:href="#delete"></use>
                          </svg>
                        </div>
                      </div></div
                  ></span>
                  <div class="flex w-full">
                    <div class="gap-2 w-full">
                      <div
                        class="swiper-container swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events swiper-container-free-mode swiper-container-rtl"
                      >
                        <div class="swiper-wrapper">
                          <div
                            class="swiper-slide swiper-slide-active"
                            style="width: auto; height: auto; margin-left: 8px"
                          >
                            <a
                              class="inline-block shrink-0 lg:mr-4 mr-5"
                              data-cro-id="searchbox-last-search"
                              href="/search/?q=%DA%A9%DB%8C%D8%A8%D9%88%D8%B1%D8%AF%20%D9%85%DA%A9%D8%A7%D9%86%DB%8C%DA%A9%DB%8C"
                              ><div
                                class="flex items-center styles_Chip__JGSAu styles_Chip--radius-medium__dD6KX styles_Chip--medium__xcmzq py-2 px-3 text-body1-strong xs:pl-1"
                              >
                                <span>کیبورد مکانیکی</span>
                                <div class="flex cursor-pointer mr-1">
                                  <svg
                                    style="
                                      width: 20px;
                                      height: 20px;
                                      fill: var(--color-icon-high-emphasis);
                                    "
                                  >
                                    <use xlink:href="#chevronLeft"></use>
                                  </svg>
                                </div></div
                            ></a>
                          </div>
                          <div
                            class="swiper-slide swiper-slide-next"
                            style="width: auto; height: auto; margin-left: 8px"
                          >
                            <a
                              class="inline-block shrink-0"
                              data-cro-id="searchbox-last-search"
                              href="/search/?q=%DA%A9%DB%8C%D8%A8%D9%88%D8%B1%D8%AF"
                              ><div
                                class="flex items-center styles_Chip__JGSAu styles_Chip--radius-medium__dD6KX styles_Chip--medium__xcmzq py-2 px-3 text-body1-strong xs:pl-1"
                              >
                                <span>کیبورد</span>
                                <div class="flex cursor-pointer mr-1">
                                  <svg
                                    style="
                                      width: 20px;
                                      height: 20px;
                                      fill: var(--color-icon-high-emphasis);
                                    "
                                  >
                                    <use xlink:href="#chevronLeft"></use>
                                  </svg>
                                </div></div
                            ></a>
                          </div>
                          <div
                            class="swiper-slide"
                            style="width: auto; height: auto; margin-left: 8px"
                          >
                            <a
                              class="inline-block shrink-0 ml-2"
                              data-cro-id="searchbox-last-search"
                              href="/search/?q=god%20of%20war"
                              ><div
                                class="flex items-center styles_Chip__JGSAu styles_Chip--radius-medium__dD6KX styles_Chip--medium__xcmzq py-2 px-3 text-body1-strong xs:pl-1"
                              >
                                <span>god of war</span>
                                <div class="flex cursor-pointer mr-1">
                                  <svg
                                    style="
                                      width: 20px;
                                      height: 20px;
                                      fill: var(--color-icon-high-emphasis);
                                    "
                                  >
                                    <use xlink:href="#chevronLeft"></use>
                                  </svg>
                                </div></div
                            ></a>
                          </div>
                        </div>
                        <div
                          class="styles_Slider__next-button-selector__R9M5X hidden lg:flex justify-center items-center bg-neutral-000 absolute cursor-pointer z-5 rounded-circle styles_ScrollHorizontalWrapper__button__uMRet styles_ScrollHorizontalWrapper__button--next__0VY_Y lg:hidden"
                        >
                          <div class="flex">
                            <svg
                              style="
                                width: 24px;
                                height: 24px;
                                fill: var(--color-icon-high-emphasis);
                              "
                            >
                              <use xlink:href="#chevronLeft"></use>
                            </svg>
                          </div>
                        </div>
                        <div
                          class="styles_Slider__prev-button-selector__fsha9 hidden lg:flex justify-center items-center bg-neutral-000 absolute cursor-pointer z-5 rounded-circle styles_ScrollHorizontalWrapper__button__uMRet styles_ScrollHorizontalWrapper__button--prev___Vx1r lg:hidden"
                        >
                          <div class="flex">
                            <svg
                              style="
                                width: 24px;
                                height: 24px;
                                fill: var(--color-icon-high-emphasis);
                              "
                            >
                              <use xlink:href="#chevronRight"></use>
                            </svg>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="py-2 hide-scrollbar">
                  <span
                    class="cursor-pointer py-3 break-words block px-5 lg:px-4 xs:py-2"
                    ><div class="flex justify-between items-start">
                      <div class="flex shrink-0 ml-4 mt-0.5">
                        <svg
                          style="
                            width: 24px;
                            height: 24px;
                            fill: var(--color-icon-low-emphasis);
                          "
                        >
                          <use xlink:href="#searchTrend"></use>
                        </svg>
                      </div>
                      <div class="grow text-right">
                        <span class="grow text-subtitle-strong text-neutral-700"
                          >جستجوهای پرطرفدار</span
                        >
                        <div></div>
                      </div></div
                  ></span>
                  <div class="flex w-full">
                    <div class="gap-2 w-full">
                      <div
                        class="swiper-container swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events swiper-container-free-mode swiper-container-rtl"
                      >
                        <div class="swiper-wrapper">
                          <div
                            class="swiper-slide swiper-slide-active"
                            style="width: auto; height: auto; margin-left: 8px"
                          >
                            <a
                              class="inline-block shrink-0 lg:mr-4 mr-5"
                              data-cro-id="searchbox-popular-search"
                              href="/search/?q=%D9%85%D8%A7%DA%98%D9%88%D9%84+%D8%A7%D9%85%D9%BE%D9%84%DB%8C+%D9%81%D8%A7%DB%8C%D8%B1+%D8%A8%D9%84%D9%88%D8%AA%D9%88%D8%AB%DB%8C"
                              ><div
                                class="flex items-center styles_Chip__JGSAu styles_Chip--radius-medium__dD6KX styles_Chip--medium__xcmzq py-2 px-3 text-body1-strong xs:pl-1"
                              >
                                <span>ماژول امپلی فایر بلوتوثی</span>
                                <div class="flex cursor-pointer mr-1">
                                  <svg
                                    style="
                                      width: 20px;
                                      height: 20px;
                                      fill: var(--color-icon-high-emphasis);
                                    "
                                  >
                                    <use xlink:href="#chevronLeft"></use>
                                  </svg>
                                </div></div
                            ></a>
                          </div>
                          <div
                            class="swiper-slide swiper-slide-next"
                            style="width: auto; height: auto; margin-left: 8px"
                          >
                            <a
                              class="inline-block shrink-0"
                              data-cro-id="searchbox-popular-search"
                              href="/search/?q=%D8%A8%D8%B1%DA%86%D8%B3%D8%A8+%D8%A8%D8%A7%DA%A9"
                              ><div
                                class="flex items-center styles_Chip__JGSAu styles_Chip--radius-medium__dD6KX styles_Chip--medium__xcmzq py-2 px-3 text-body1-strong xs:pl-1"
                              >
                                <span>برچسب باک</span>
                                <div class="flex cursor-pointer mr-1">
                                  <svg
                                    style="
                                      width: 20px;
                                      height: 20px;
                                      fill: var(--color-icon-high-emphasis);
                                    "
                                  >
                                    <use xlink:href="#chevronLeft"></use>
                                  </svg>
                                </div></div
                            ></a>
                          </div>
                          <div
                            class="swiper-slide"
                            style="width: auto; height: auto; margin-left: 8px"
                          >
                            <a
                              class="inline-block shrink-0"
                              data-cro-id="searchbox-popular-search"
                              href="/search/?q=%D9%85%D8%AF%D8%A7%D8%AF+%D8%B1%D9%86%DA%AF%DB%8C+24"
                              ><div
                                class="flex items-center styles_Chip__JGSAu styles_Chip--radius-medium__dD6KX styles_Chip--medium__xcmzq py-2 px-3 text-body1-strong xs:pl-1"
                              >
                                <span>مداد رنگی 24</span>
                                <div class="flex cursor-pointer mr-1">
                                  <svg
                                    style="
                                      width: 20px;
                                      height: 20px;
                                      fill: var(--color-icon-high-emphasis);
                                    "
                                  >
                                    <use xlink:href="#chevronLeft"></use>
                                  </svg>
                                </div></div
                            ></a>
                          </div>
                          <div
                            class="swiper-slide"
                            style="width: auto; height: auto; margin-left: 8px"
                          >
                            <a
                              class="inline-block shrink-0"
                              data-cro-id="searchbox-popular-search"
                              href="/search/?q=%D9%85%D9%88%D8%AF%D9%85+%D8%B1%D9%88%D8%AA%D8%B1"
                              ><div
                                class="flex items-center styles_Chip__JGSAu styles_Chip--radius-medium__dD6KX styles_Chip--medium__xcmzq py-2 px-3 text-body1-strong xs:pl-1"
                              >
                                <span>مودم روتر</span>
                                <div class="flex cursor-pointer mr-1">
                                  <svg
                                    style="
                                      width: 20px;
                                      height: 20px;
                                      fill: var(--color-icon-high-emphasis);
                                    "
                                  >
                                    <use xlink:href="#chevronLeft"></use>
                                  </svg>
                                </div></div
                            ></a>
                          </div>
                          <div
                            class="swiper-slide"
                            style="width: auto; height: auto; margin-left: 8px"
                          >
                            <a
                              class="inline-block shrink-0 ml-2"
                              data-cro-id="searchbox-popular-search"
                              href="/search/?q=%D9%85%D8%A7%D8%B4%DB%8C%D9%86+%D8%A8%D8%A7%D8%B2%DB%8C+%D9%81%D9%84%D8%B2%DB%8C"
                              ><div
                                class="flex items-center styles_Chip__JGSAu styles_Chip--radius-medium__dD6KX styles_Chip--medium__xcmzq py-2 px-3 text-body1-strong xs:pl-1"
                              >
                                <span>ماشین بازی فلزی</span>
                                <div class="flex cursor-pointer mr-1">
                                  <svg
                                    style="
                                      width: 20px;
                                      height: 20px;
                                      fill: var(--color-icon-high-emphasis);
                                    "
                                  >
                                    <use xlink:href="#chevronLeft"></use>
                                  </svg>
                                </div></div
                            ></a>
                          </div>
                        </div>
                        <div
                          class="styles_Slider__next-button-selector__R9M5X hidden lg:flex justify-center items-center bg-neutral-000 absolute cursor-pointer z-5 rounded-circle styles_ScrollHorizontalWrapper__button__uMRet styles_ScrollHorizontalWrapper__button--next__0VY_Y"
                        >
                          <div class="flex">
                            <svg
                              style="
                                width: 24px;
                                height: 24px;
                                fill: var(--color-icon-high-emphasis);
                              "
                            >
                              <use xlink:href="#chevronLeft"></use>
                            </svg>
                          </div>
                        </div>
                        <div
                          class="styles_Slider__prev-button-selector__fsha9 hidden lg:flex justify-center items-center bg-neutral-000 absolute cursor-pointer z-5 rounded-circle styles_ScrollHorizontalWrapper__button__uMRet styles_ScrollHorizontalWrapper__button--prev___Vx1r lg:hidden"
                        >
                          <div class="flex">
                            <svg
                              style="
                                width: 24px;
                                height: 24px;
                                fill: var(--color-icon-high-emphasis);
                              "
                            >
                              <use xlink:href="#chevronRight"></use>
                            </svg>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a
    class="mr-6 hidden"
    data-ab-id="plus_base_layout_header_touchpoint"
    href="/plus/landing/"
    ><div style="width: 90px; height: 45px; line-height: 0">
      <img
        class="w-full inline-block"
        src="/statics/img/svg/digiplus/digiplus-text-logo-desktop.svg"
        width="90"
        height="45"
        style="object-fit: contain"
      /></div
  ></a>
</div>
